body {
  background: #002b36;
  padding:    0;
  margin:     0;
}

input {
  position:      fixed;
  top:           50%;
  left:          50%;
  width:         80%;
  margin-top:    -1.25em;
  margin-left:   -40%;
  background:    #002b36;
  outline-color: #002b36;
  border-style:  solid;
  border-width:  3px;
  border-radius: 15px;
  border-color:  #586e75;
  box-shadow:    5px 5px 2px 1px #002, inset 0px -1px 2px #586e75;
  padding:       8px;
  text-align:    center;
  font-family:   monospace;
  font-size:     20px;
  color:         #2aa198;
  /*
  color:         transparent;
  text-shadow:   0 0 1px #2aa198;
  */
}

::-webkit-input-placeholder { 
  /*
  color:         transparent;
  text-shadow:   0 0 1px #2aa198;
  */
  color:         #2aa198;
}
::-moz-placeholder {
  color:         #2aa198;
}
:-ms-input-placeholder {
  color:         #2aa198;
}

::selection {
  background: #eee8d5;
}
::-moz-selection {
  background: #eee8d5;
}

